.archive {
  &__nav {
    margin-bottom: -30px;
    position: relative;
    z-index: 1;
    @include clearfix;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &--item {
      $item: &;

      float: left;
      text-align: center;
      width: 25%;

      a {
        border-top: solid 3px;
        box-sizing: border-box;
        color: $color-headline;
        display: block;
        text-decoration: none;
        padding: 7px 0;

        @media screen and (min-width: $screen-sm) {
          padding: 10px 0;
        }

        &:hover {
          opacity: .7;
        }

        @at-root {

          #{$item}:nth-child(1) a {
            background: #e1e1e1;
            border-color: darken( #e1e1e1, 20% );
          }

          #{$item}:nth-child(2) a {
            background: $color-cate-01;
            border-color: darken( $color-cate-01, 20% );
          }

          #{$item}:nth-child(3) a {
            background: $color-cate-02;
            border-color: darken( $color-cate-02, 20% );
          }

          #{$item}:nth-child(4) a {
            background: $color-cate-03;
            border-color: darken( $color-cate-03, 20% );
          }

          #{$item}.is-current {
            a {
              padding: 12px 0;
              position: relative;
              top: -5px;

              @media screen and (min-width: $screen-sm) {
                padding: 15px 0;
              }

              &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 17.3px 10px 0 10px;
                border-width: 11px 6px 0 6px;
                position: absolute;
                bottom: -11px;
                left: 0;
                right: 0;
                margin: auto;
              }
            }

            &:nth-child(1) a:after {
              border-color: #e1e1e1 transparent transparent transparent;
            }
            &:nth-child(2) a:after {
              border-color: $color-cate-01 transparent transparent transparent;
            }
            &:nth-child(3) a:after {
              border-color: $color-cate-02 transparent transparent transparent;
            }
            &:nth-child(4) a:after {
              border-color: $color-cate-03 transparent transparent transparent;
            }
          }
        }
      }

      .label {
        display: block;
        font-size: $font-size-xs;
        font-family: $font-alice;
      }
    }
  }

  &__wrapper {
    max-width: $screen-lg;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
    @include clearfix;
  }

  &__article {
    $article: &;

    text-align: center;
    width: 280px;
    margin: 0 auto;

    @media screen and (min-width: $screen-xs) {
      width: 42%;
      float: left;
      margin-left: 20px;
      margin-right: 20px;
    }

    @media screen and (min-width: $screen-sm) {
      width: 29%;

      &.article-4,
      &.article-5 {
        width: 45%;
      }
    }


    &--photos {
      position: relative;
      left: -15px;

      #{$article}.article-3 &,
      #{$article}.article-4 &,
      #{$article}.article-7 &,
      #{$article}.article-8 & {
        @media screen and (min-width: $screen-xs) {
          left: 10px;
        }
      }

      @media screen and (min-width: $screen-sm) {
        left: -15px;
      }
    }

    &--photo {
      background: #fff;
      border-radius: 4px;
      box-shadow: 0px 0px 20px 4px #e2e2e2;
      height: auto;

      &:nth-child(1) {
        padding: 10px 10px 40px;
        transform: rotate(-4deg);

        @media screen and (min-width: $screen-xs) {
          width: 65%;
        }

        @media screen and (min-width: $screen-sm) {
          width: 200px;
        }
      }

      &:nth-child(2) {
        padding: 7px 7px 30px;
        position: absolute;
        bottom: 40px;
        right: 2px;
        transform: rotate(17deg);

        @media screen and (min-width: $screen-xs) {
          width: 30%;
          right: -4px;
        }

        @media screen and (min-width: $screen-sm) {
          width: 90px;
        }
      }

      &:nth-child(3) {
        transform: rotate(-10deg);
        padding: 5px 5px 20px;
        position: absolute;
        right: 20px;
        bottom: -16px;

        @media screen and (min-width: $screen-xs) {
          width: 22%;
          right: 0px;
          bottom: -6px;
        }

        @media screen and (min-width: $screen-sm) {
          width: 70px;
        }
      }

      #{$article}:nth-child(even) & {
        &:nth-child(1) {
          transform: rotate(4deg);

          @media screen and (min-width: $screen-xs) {
            transform: rotate(-4deg);
          }
        }

        &:nth-child(2) {
          transform: rotate(-17deg);
          left: 0;

          @media screen and (min-width: $screen-xs) {
            transform: rotate(17deg);
            left: initial;
          }
        }

        &:nth-child(3) {
          transform: rotate(10deg);
          left: 0;

          @media screen and (min-width: $screen-xs) {
            transform: rotate(-10deg);
            left: initial;
          }
        }
      }

      #{$article}.article-3 &,
      #{$article}.article-4 &,
      #{$article}.article-7 &,
      #{$article}.article-8 & {
        @media screen and (min-width: $screen-xs) {
          &:nth-child(1) {
            transform: rotate(4deg);
          }

          &:nth-child(2) {
            transform: rotate(-17deg);
            left: 0;

            @media screen and (min-width: $screen-sm) {
            }
          }

          &:nth-child(3) {
            transform: rotate(10deg);
            left: 0;

            @media screen and (min-width: $screen-sm) {

            }
          }
        }
      }
    }

    &--title {
      color: $color-headline;
      margin-top: 30px;
    }
  }
}
