.btn {
  text-align: center;
  margin-top: 30px;

  @media screen and (min-width: $screen-sm) {
    margin-top: 60px;
  }

  &__item {
    border: solid 1px $color-border-base;
    display: inline-block;
    color: $color-headline;
    font-size: map-get( $font-sizes-text, $screen-xs );
    padding: 13px 80px;
    position: relative;
    transition: .2s;

    @media screen and (min-width: $screen-sm) {
      font-size: map-get( $font-sizes-text, $screen-sm );
    }

    &:hover {
      background: $color-headline;
      color: #fff;
    }

    &:after {
      @include icon-arrow-right();
    }
  }
}
