.headline {
  color: $color-headline;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.5;

  &__page {
    position: relative;

    &:after {
      content: '';
      background: $color-headline;
      width: 30px;
      height: 1px;
      position: absolute;
      bottom: -15px;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  @media screen and (min-width: $screen-sm) {
    margin-bottom: 60px;
  }

  &__main {
    font-family: $font-alice;
    letter-spacing: 5px;
  }

  &__lable {
    font-size: $font-size-xs;
  }

  @at-root {
    h1#{&} {
      font-size: map-get( $font-sizes-h1, $screen-xs );

      @media screen and (min-width: $screen-sm) {
        font-size: map-get( $font-sizes-h1, $screen-sm );
      }
    }
  }
}
