.key-visual {
  background-color: $color-main;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  animation: bg-color 15s infinite 3s;

  @media screen and (min-width: $screen-sm) {
    height: 70vh;

    &:before {
      content: "";
      background: url(./images/key-visual-bg.jpg) no-repeat;
      background-size: cover;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .1;
    }
  }

  &__image {
    display: none;
    position: absolute;
    height: 100%;

    &:nth-child(1) {
      left: -40px;
      bottom: -90px;

      @media screen and (min-width: $screen-xs) {
        display: block;
        left: -10px;
        height: 110%;
      }

      @media screen and (min-width: $screen-sm) {
        left: 40%;
        margin-left: -400px;
      }
    }

    &:nth-child(2) {
      right: -60px;
      bottom: -90px;

      @media screen and (min-width: $screen-xs) {
        display: block;
        right: -10px;
        height: 110%;
      }

      @media screen and (min-width: $screen-sm) {
        right: 40%;
        margin-right: -400px;
      }
    }
  }

  &__logo {
    text-align: center;

    &--title {
      color: #fff;
      display: inline-block;
      margin: 0;
      padding: 60px 15px 15px;
      line-height: 1;
    }

    &--name {
      display: block;
      font-size: 2.8rem;
      font-family: $font-alice;
      letter-spacing: 1em;
      text-indent: 1em;
    }

    &--description {
      font-size: $font-size-s;
      font-family: $font-yu-mincho;
    }
  }

  &__text {
    color: #fff;
    font-family: $font-yu-mincho;
    text-align: center;
    line-height: 1.8;

    @media screen and (min-width: $screen-sm) {
      font-size: $font-size-l;
    }

    &--main {
      letter-spacing: 5px;
      margin-top: 65px;

      @media screen and (min-width: $screen-sm) {
        margin-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
      }

      .strong {
        background: -webkit-linear-gradient(-85deg, #ffffff 0%, #ffffff 60%, #fff5a5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-size: 3.6rem;
        margin-top: -14px;
        position: relative;
        top: 8px;

        @media screen and (min-width: $screen-sm) {
          font-size: 5rem;
          top: 12px;
        }
      }
    }

    &--sub {
      margin-top: 65px;

      @media screen and (min-width: $screen-sm) {
        margin-top: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 80%;
      }

    }
  }
}

@keyframes bg-color {
  0% { background-color: $color-main; }
  33% { background-color: #ff8282; }
  66% { background-color: #8087ff; }
  100% { background-color: $color-main; }
}
