.section {
  box-sizing: border-box;
  padding-bottom: 50px;

  & + #{&} {
    padding-top: 50px;
  }

  & + #{&}-col {
    @media screen and (min-width: $screen-sm) {
      padding-top: 0;
    }
  }

  &-col {
    border-top: dotted 1px $color-border-base;

    @media screen and (min-width: $screen-sm) {
      border-top: none;
      border-left: dotted 1px $color-border-base;
    }
  }

  &__body {
    margin: 0 20px;

    &.side-by-side {
      @media screen and (min-width: $screen-sm) {
        margin: 0 70px;
      }
    }
  }
}
