html {
  color: $color-text;
  font-size: $font-size-base;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 2px;
}

body {
  font-size: map-get( $font-sizes-text, $screen-xs );

  @media screen and (min-width: $screen-sm) {
    font-size: map-get( $font-sizes-text, $screen-sm );
  }
}

a {
  text-decoration: none;
  transition: .2s;
}
