// color setting
$color-main        : #16b5d6;
$color-bg-footer   : #1a0d05;
$color-cate-01     : #d3e5df;
$color-cate-02     : #ffd7d7;
$color-cate-03     : #d9dbff;
$color-text        : #808080;
$color-headline    : #42210b;
$color-border-base : #dedede;
$color-border-dark : #31261e;

// font setting
// @font-face {
//   font-family: 'hannariminchoregular';
//   src: url('font/hannari-webfont.eot');
//   src: url('font/hannari-webfont.eot?#iefix') format('embedded-opentype'),
//        url('font/hannari-webfont.woff2') format('woff2'),
//        url('font/hannari-webfont.woff') format('woff'),
//        url('font/hannari-webfont.ttf') format('truetype'),
//        url('font/hannari-webfont.svg#hannariminchoregular') format('svg');
// }


$font-size-base : 10px;
$font-size-xxs  : 1rem;
$font-size-xs   : 1.2rem;
$font-size-s    : 1.4rem;
$font-size-m    : 1.6rem;
$font-size-l    : 1.8rem;
$font-size-xl   : 2rem;
$font-size-xxl  : 2.4rem;
$font-size-xxxl : 2.6rem;

$font-sizes-text: (
  null  : $font-size-s,
  480px : $font-size-s,
  768px : $font-size-m
);

$font-sizes-h1: (
  null  : $font-size-xxl,
  480px : $font-size-xxl,
  768px : $font-size-xxxl
);

$font-sizes-h2: (
  null  : $font-size-xl,
  480px : $font-size-xl,
  768px : $font-size-xxl
);

$font-alice     : 'Alice', serif;
$font-yu-mincho : YuMincho, '游明朝', serif;
// $font-hannari-mincho : 'hannariminchoregular', serif;
