@import 'normalize';

body {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

#container {
  margin-top: 50px;

  canvas {
    margin: 50px auto 0 auto;
    display: block;
  }
}

.btn {
  background: transparent;
  border: solid 1px #34af1d;
  color: #333;
  display: block;
  margin: auto;
  padding: 8px 30px;
  transition: .2s;
  position: relative;

  &:hover {
    background: #34af1d;
    color: #fff;
  }
}